* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.light-gray {
    color: #7A7F7F;
}

.hero-ctr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 450px;
    padding: 120px 15px 80px;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size:cover;
}

.hero-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.hero-content>h1 {
    color: white;
    font-weight: 500;
    font-size: 33px;
    line-height: 40px;
    margin-top: -20px;
}

.search-bar-ctr {
    display: flex;
    width: 100%;
    margin-top: 25px;
}

.search-bar-ctr>input::placeholder, .search-bar-ctr>button {
    color: #7A7F7F;
    font-size: 18px;
}

.search-bar-ctr>input {
    border: none;
    width: 100%;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 50px;
}

.search-bar-ctr>button {
    border: none;
    background-color: white;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-bar-ctr>button:hover {
    cursor: pointer;
    color: green;
}

.trending-ctr {
    display: flex;
    margin-top: 25px;
}

.trending-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.trending-list>li {
    padding-left: 10px;
}

.trending-list>li:hover {
    cursor: pointer;
    color: #7A7F7F;
}

.trending-item {
    text-decoration: none;
    color: #FFFFFF;
}

.hero-img-credit {
    color: #FFFFFF;
    font-size: 14px;
    position: absolute;
    right: 15px;
    top: 415px;
}

.img-ctr {
    padding: 5px;
}

.img-ctr>img {
    width: 100%;
}

.img-ctr>img:hover {
    transition: transform .2ssssss;
    transform: translateY(-4px) 
}

.hide-pic-row {
    display: none;
}

.content-ctr {
    width: 100%;
    margin: 20px 0px;
    min-height: 250px;
}

.content-ctr>h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 20px 15px;
}

.photos-ctr {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
}

@media only screen and (min-width: 675px) {
    .hero-content {
        width: 630px;
    }
}

@media only screen and (min-width: 900px) {
    .content-ctr>h2 {
        margin: 20px 25px;
    }

    .photos-ctr {
        margin: 0px 20px;
    }

    .hide-pic-row {
        display: block;
    }
}